.home-container {
    height: 100%;
    align-items: stretch;
}
.group {
    height: 144px;
    background-color: hsla(var(--igc-primary-700));
    justify-content: center;
    align-items: stretch;
}
.icon {
    height: 36px;
    width: 36px;
    font-size: 36px;
    margin: 0 16px 0 0;
    color: hsla(var(--igc-surface-500));
}
.group_1 {
    justify-content: space-between;
    padding: 4px 16px;
    flex-wrap: wrap;
    background-color: hsla(var(--igc-gray-200));
    margin: 0 0 8px;
    align-items: center;
    height: max-content;
}
.group_2 {
    width: 300px;
    margin: -32px 16px 32px 0;
    padding: 0 0 16px;
    border-width: 1px 1px 1px 1px;
    background-color: hsla(var(--igc-surface-500));
    border-color: hsla(var(--igc-gray-200));
    border-style: solid;
    align-items: stretch;
    position: relative;
    min-width: 50px;
}
.group_3 {
    min-height: min-content;
    padding: 8px;
    border-color: hsla(var(--igc-gray-300));
    border-width: 1px 0px 0px 0px;
    justify-content: center;
    background-color: hsla(var(--igc-surface-500));
    border-style: solid;
    align-items: stretch;
    position: relative;
    min-width: 50px;
}
.text {
    margin: 0 16px 8px;
    height: max-content;
}
.group_4 {
    margin: -32px 0 32px;
    border-width: 1px 1px 1px 1px;
    background-color: hsla(var(--igc-surface-500));
    border-color: hsla(var(--igc-gray-200));
    border-style: solid;
    align-items: stretch;
    position: relative;
    min-width: 50px;
}
.text_1 {
    color: hsla(var(--igc-gray-500));
    min-width: min-content;
    height: max-content;
}
.group_5 {
    padding: 16px;
    background-color: hsla(var(--igc-gray-200));
    margin: 0 0 32px;
    align-items: stretch;
    position: relative;
    min-width: 50px;
    height: max-content;
}
.group_6 {
    border-width: 0px 1px 0px 0px;
    border-color: hsla(var(--igc-gray-200));
    border-style: solid;
    align-items: center;
    min-height: 50px;
    position: relative;
    min-width: 50px;
    height: max-content;
}
.button {
    max-width: 100%;
    margin: 0 8px 0 0;
    min-width: min-content;
    height: max-content;
}
.group_7 {
    width: 960px;
    min-height: 50px;
    position: relative;
    min-width: 50px;
}
.avatar {
    margin: 0 16px 0 0;
}
.group_8 {
    margin: 0 0 32px;
    padding: 0 16px;
    align-items: center;
    position: relative;
    min-width: 50px;
}
.h4 {
    color: hsla(var(--igc-surface-500));
    min-width: min-content;
    height: max-content;
}
.element {
    color: hsla(var(--igc-primary-500));
}
.text_2 {
    color: hsla(var(--igc-gray-900));
    height: max-content;
}
.group_9 {
    padding: 0 16px;
    border-width: 1px 0px 0px 0px;
    margin: 0 0 16px;
    border-color: hsla(var(--igc-gray-200));
    border-style: solid;
    align-items: center;
    height: max-content;
}
.group_10 {
    overflow: auto;
    align-items: stretch;
    position: relative;
    min-width: 50px;
}
.group_11 {
    justify-content: center;
    background-color: hsla(var(--igc-gray-100));
    min-height: 50px;
    align-items: stretch;
    position: relative;
    min-width: 50px;
}
.group_12 {
    margin: 0 0 16px;
    align-items: stretch;
}
.element_1 {
    margin: 0 8px 0 0;
    width: max-content;
    height: max-content;
}
.group_13 {
    background-color: hsla(var(--igc-surface-500));
}
.text_3 {
    width: max-content;
    margin: 0 0 8px;
    height: max-content;
}
.avatar_1 {
    color: hsla(var(--igc-gray-800));
    background-color: hsla(var(--igc-gray-100));
}
.element_2 {
    margin: 0 0 8px;
}
.group_14 {
    align-items: center;
}
.icon_1 {
    height: 24px;
    width: 24px;
    font-size: 24px;
}
.group_15 {
    min-height: 50px;
}
.list-item {
    min-width: 0;
    min-height: 0;
}
.element_3 {
    min-width: min-content;
    height: max-content;
}
.group_16 {
    align-items: stretch;
}
.group_17 {
    position: relative;
    min-width: 50px;
}
.element_4 {
    height: max-content;
}
.element_5 {
    margin: 0 0 0 px;
    padding: 0 0 0 px;
}
.row {
    display: flex;
}
.column {
    display: flex;
    flex-direction: column;
}
