@page "/"

<div class="home-container column">
    <div class="group row">
        <div class="group_7 group_14 row">
            <span class="material-icons icon">
                home
            </span>
            <h4 class="h4">
                Home
            </h4>
        </div>
    </div>
    <div class="group_11 row">
        <div class="group_7 group_16 row">
            <div class="group_2 column">
                <div class="group_5 row">
                    <IgbAvatar Src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar6.png" Shape="AvatarShape.Circle" class="avatar" home-scope></IgbAvatar>
                    <div class="group_15 group_16 group_17 column">
                        <h5 class="element_4">
                            Erin Brockovich
                        </h5>
                        <p class="element_4">
                            Water quality specialist
                        </p>
                    </div>
                </div>
                <div class="group_12 group_17 element_4 row">
                    <div class="group_6 column">
                        <p class="text_3">
                            Open PTO
                        </p>
                        <span class="material-icons element_2 icon_1">
                            date_range
                        </span>
                        <p class="element_3">
                            8.5 days used (YTD)
                        </p>
                        <p class="element_3">
                            1 day scheduled
                        </p>
                    </div>
                    <div class="group_14 group_15 group_17 element_4 column">
                        <p class="text_3">
                            Bereavement leave
                        </p>
                        <div class="element_2 group_16 group_17 element_4 row">
                            <h6 class="element_1">
                                0.0
                            </h6>
                            <span class="material-icons element icon_1">
                                date_range
                            </span>
                        </div>
                        <p class="element_3">
                            Days available
                        </p>
                        <p class="element_3">
                            0 day scheduled
                        </p>
                    </div>
                </div>
                <div class="group_8 row">
                    <IgbButton Variant="ButtonBaseVariant.Contained" class="button" home-scope>
                        <span class="material-icons element_5">
                            send
                        </span>
                        <span>Request time off</span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                    <IgbButton Variant="ButtonBaseVariant.Flat" class="element" home-scope>
                        <span class="material-icons element_5">
                            email
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                </div>
                <div class="group_10 column">
                    <p class="text">
                        What's the buzz
                    </p>
                    <div class="group_10 group_15 column">
                        <IgbList class="element_3" home-scope>
                            <IgbListItem class="list-item" home-scope>
                                <div slot="start" class="element_5">
                                    <IgbAvatar Src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar3.png" Shape="AvatarShape.Circle" Size="SizableComponentSize.Small"></IgbAvatar>
                                </div>
                                <div slot="title" class="element_5">Ethan Hunt</div>
                                <div slot="subtitle" class="element_5">Birthday, Oct 1</div>
                                <div slot="end" class="element_5">
                                    <span class="material-icons icon_1">
                                        cake
                                    </span>
                                </div>
                            </IgbListItem>
                            <IgbListItem class="list-item" home-scope>
                                <div slot="start" class="element_5">
                                    <IgbAvatar Src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar5.png" Shape="AvatarShape.Circle" Size="SizableComponentSize.Small"></IgbAvatar>
                                </div>
                                <div slot="title" class="element_5">Luke Skywalker</div>
                                <div slot="subtitle" class="element_5">25th work-anniversary</div>
                                <div slot="end" class="element_5">
                                    <span class="material-icons icon_1">
                                        flag
                                    </span>
                                </div>
                            </IgbListItem>
                            <IgbListItem class="list-item" home-scope>
                                <div slot="start" class="element_5">
                                    <IgbAvatar Src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar1.png" Shape="AvatarShape.Circle" Size="SizableComponentSize.Small"></IgbAvatar>
                                </div>
                                <div slot="title" class="element_5">Donnie Darko</div>
                                <div slot="subtitle" class="element_5">On vacation, Oct 10-23</div>
                                <div slot="end" class="element_5">
                                    <span class="material-icons icon_1">
                                        beach_access
                                    </span>
                                </div>
                            </IgbListItem>
                            <IgbListItem class="list-item" home-scope>
                                <div slot="start" class="element_5">
                                    <IgbAvatar Src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar2.png" Shape="AvatarShape.Circle" Size="SizableComponentSize.Small"></IgbAvatar>
                                </div>
                                <div slot="title" class="element_5">Edna Mode</div>
                                <div slot="subtitle" class="element_5">Visiting customer</div>
                                <div slot="end" class="element_5">
                                    <span class="material-icons icon_1">
                                        airplanemode_active
                                    </span>
                                </div>
                            </IgbListItem>
                        </IgbList>
                    </div>
                </div>
            </div>
            <div class="group_4 column">
                <div class="group_12 group_13 column">
                    <div class="group_1 row">
                        <p class="text_2">
                            What's happening at Rapid Fission Inc.
                        </p>
                        <p class="text_2">
                            Announcements (1)
                        </p>
                    </div>
                    <IgbList class="element_3" home-scope>
                        <IgbListItem class="list-item" home-scope>
                            <div slot="start" class="element_5">
                                <IgbAvatar Src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar4.png" Shape="AvatarShape.Circle" Size="SizableComponentSize.Small"></IgbAvatar>
                            </div>
                            <div slot="title" class="element_5">George Bailey posted  an announcement, awards, and call for nominations</div>
                            <div slot="subtitle" class="element_5">19 days ago</div>
                            <div slot="end" class="element_5">
                                <span class="material-icons icon_1">
                                    clear
                                </span>
                            </div>
                        </IgbListItem>
                    </IgbList>
                </div>
                <div class="group_16 column">
                    <div class="group_9 row">
                        <p class="element_1">
                            MY BENEFITS
                        </p>
                    </div>
                </div>
                <IgbList class="element_3" home-scope>
                    <IgbListItem class="list-item" home-scope>
                        <div slot="start" class="element_5">
                            <IgbAvatar Shape="AvatarShape.Circle" Size="SizableComponentSize.Small" class="avatar_1" home-scope>
                                <span class="material-icons">security</span>
                            </IgbAvatar>
                        </div>
                        <div slot="title" class="element_5">Radiation protection health insurance planre</div>
                        <div slot="subtitle" class="element_5">$600 every other week</div>
                    </IgbListItem>
                    <IgbListItem class="list-item" home-scope>
                        <div slot="start" class="element_5">
                            <IgbAvatar Shape="AvatarShape.Circle" Size="SizableComponentSize.Small" class="avatar_1" home-scope>
                                <span class="material-icons">remove_red_eye</span>
                            </IgbAvatar>
                        </div>
                        <div slot="title" class="element_5">20/20 Vision plans here</div>
                        <div slot="subtitle" class="element_5">$234 every other week</div>
                    </IgbListItem>
                    <IgbListItem class="list-item" home-scope>
                        <div slot="start" class="element_5">
                            <IgbAvatar Shape="AvatarShape.Circle" Size="SizableComponentSize.Small" class="avatar_1" home-scope>
                                <span class="material-icons">child_friendly</span>
                            </IgbAvatar>
                        </div>
                        <div slot="title" class="element_5">Child care savings</div>
                        <div slot="subtitle" class="element_5">$4955 remaining</div>
                    </IgbListItem>
                    <IgbListItem class="list-item" home-scope>
                        <div slot="start" class="element_5">
                            <IgbAvatar Shape="AvatarShape.Circle" Size="SizableComponentSize.Small" class="avatar_1" home-scope>
                                <span class="material-icons">security</span>
                            </IgbAvatar>
                        </div>
                        <div slot="title" class="element_5">Fire hazard protection  </div>
                        <div slot="subtitle" class="element_5">On da house!</div>
                    </IgbListItem>
                </IgbList>
            </div>
        </div>
    </div>
    <div class="group_3 row">
        <p class="text_1">
            (c) 2020 Rapid Fission Inc.
        </p>
    </div>
</div>

@code {
}
