<div class="group_1 row">
  <div class="group_7 group_14 row">
    <igx-icon family="material" class="icon">
      home
    </igx-icon>
    <h4 class="h4">
      Home
    </h4>
  </div>
</div>
<div class="group_11 row">
  <div class="group_7 group_16 row">
    <div class="group_2 column">
      <div class="group_5 row">
        <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar6.png" [roundShape]="true" size="medium" class="avatar"></igx-avatar>
        <div class="group_15 group_16 group_17 column">
          <h5 class="element_4">
            Erin Brockovich
          </h5>
          <p class="igx-typography__body1 element_4">
            Water quality specialist
          </p>
        </div>
      </div>
      <div class="group_12 group_17 element_4 row">
        <div class="group_6 column">
          <p class="igx-typography__subtitle-2 text_3">
            Open PTO
          </p>
          <igx-icon family="material" class="element_2 icon_1">
            date_range
          </igx-icon>
          <p class="igx-typography__body2 element_3">
            8.5 days used (YTD)
          </p>
          <p class="igx-typography__caption element_3">
            1 day scheduled
          </p>
        </div>
        <div class="group_14 group_15 group_17 element_4 column">
          <p class="igx-typography__subtitle-2 text_3">
            Bereavement leave
          </p>
          <div class="element_2 group_16 group_17 element_4 row">
            <h6 class="element_1">
              0.0
            </h6>
            <igx-icon family="material" class="element icon_1">
              date_range
            </igx-icon>
          </div>
          <p class="igx-typography__body2 element_3">
            Days available
          </p>
          <p class="igx-typography__caption element_3">
            0 day scheduled
          </p>
        </div>
      </div>
      <div class="group_8 row">
        <button igxButton="raised" class="button">
          <igx-icon class="element_5">
            send
          </igx-icon>
          <span>Request time off</span>
        </button>
        <button igxButton="icon" class="element">
          <igx-icon class="element_5">
            email
          </igx-icon>
        </button>
      </div>
      <div class="group_10 column">
        <p class="igx-typography__subtitle-2 text">
          What's the buzz
        </p>
        <div class="group_10 group_15 column">
          <igx-list class="element_3">
            <igx-list-item [isHeader]="true" class="list-item">
              <span igxListThumbnail class="element_5">
                <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar3.png" [roundShape]="true" size="small"></igx-avatar>
              </span>
              <span igxListLineTitle class="element_5">Ethan Hunt</span>
              <span igxListLineSubTitle class="element_5">Birthday, Oct 1</span>
              <span igxListAction class="element_5">
                <igx-icon family="material" class="icon_1">
                  cake
                </igx-icon>
              </span>
            </igx-list-item>
            <igx-list-item [isHeader]="true" class="list-item">
              <span igxListThumbnail class="element_5">
                <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar5.png" [roundShape]="true" size="small"></igx-avatar>
              </span>
              <span igxListLineTitle class="element_5">Luke Skywalker</span>
              <span igxListLineSubTitle class="element_5">25th work-anniversary</span>
              <span igxListAction class="element_5">
                <igx-icon family="material" class="icon_1">
                  flag
                </igx-icon>
              </span>
            </igx-list-item>
            <igx-list-item [isHeader]="true" class="list-item">
              <span igxListThumbnail class="element_5">
                <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar1.png" [roundShape]="true" size="small"></igx-avatar>
              </span>
              <span igxListLineTitle class="element_5">Donnie Darko</span>
              <span igxListLineSubTitle class="element_5">On vacation, Oct 10-23</span>
              <span igxListAction class="element_5">
                <igx-icon family="material" class="icon_1">
                  beach_access
                </igx-icon>
              </span>
            </igx-list-item>
            <igx-list-item [isHeader]="true" class="list-item">
              <span igxListThumbnail class="element_5">
                <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar2.png" [roundShape]="true" size="small"></igx-avatar>
              </span>
              <span igxListLineTitle class="element_5">Edna Mode</span>
              <span igxListLineSubTitle class="element_5">Visiting customer</span>
              <span igxListAction class="element_5">
                <igx-icon family="material" class="icon_1">
                  airplanemode_active
                </igx-icon>
              </span>
            </igx-list-item>
          </igx-list>
        </div>
      </div>
    </div>
    <div class="group_4 column">
      <div class="group_12 group_13 column">
        <div class="group row">
          <p class="igx-typography__subtitle-2 text_2">
            What's happening at Rapid Fission Inc.
          </p>
          <p class="igx-typography__subtitle-2 text_2">
            Announcements (1)
          </p>
        </div>
        <igx-list class="element_3">
          <igx-list-item [isHeader]="true" class="list-item">
            <span igxListThumbnail class="element_5">
              <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar4.png" [roundShape]="true" size="small"></igx-avatar>
            </span>
            <span igxListLineTitle class="element_5">George Bailey posted  an announcement, awards, and call for nominations</span>
            <span igxListLineSubTitle class="element_5">19 days ago</span>
            <span igxListAction class="element_5">
              <igx-icon family="material" class="icon_1">
                clear
              </igx-icon>
            </span>
          </igx-list-item>
        </igx-list>
      </div>
      <div class="group_16 column">
        <div class="group_9 row">
          <p class="igx-typography__subtitle-2 element_1">
            MY BENEFITS
          </p>
        </div>
      </div>
      <igx-list class="element_3">
        <igx-list-item [isHeader]="true" class="list-item">
          <span igxListThumbnail class="element_5">
            <igx-avatar icon="security" [roundShape]="true" size="small" class="avatar_1"></igx-avatar>
          </span>
          <span igxListLineTitle class="element_5">Radiation protection health insurance planre</span>
          <span igxListLineSubTitle class="element_5">$600 every other week</span>
        </igx-list-item>
        <igx-list-item [isHeader]="true" class="list-item">
          <span igxListThumbnail class="element_5">
            <igx-avatar icon="remove_red_eye" [roundShape]="true" size="small" class="avatar_1"></igx-avatar>
          </span>
          <span igxListLineTitle class="element_5">20/20 Vision plans here</span>
          <span igxListLineSubTitle class="element_5">$234 every other week</span>
        </igx-list-item>
        <igx-list-item [isHeader]="true" class="list-item">
          <span igxListThumbnail class="element_5">
            <igx-avatar icon="child_friendly" [roundShape]="true" size="small" class="avatar_1"></igx-avatar>
          </span>
          <span igxListLineTitle class="element_5">Child care savings</span>
          <span igxListLineSubTitle class="element_5">$4955 remaining</span>
        </igx-list-item>
        <igx-list-item [isHeader]="true" class="list-item">
          <span igxListThumbnail class="element_5">
            <igx-avatar icon="security" [roundShape]="true" size="small" class="avatar_1"></igx-avatar>
          </span>
          <span igxListLineTitle class="element_5">Fire hazard protection  </span>
          <span igxListLineSubTitle class="element_5">On da house!</span>
        </igx-list-item>
      </igx-list>
    </div>
  </div>
</div>
<div class="group_3 row">
  <p class="igx-typography__body2 text_1">
    (c) 2020 Rapid Fission Inc.
  </p>
</div>
